{{#partial "contenido"}}


	<a href="" class="fa fa-arrow-left"></a>
	<div class="error">
	  <h1>Error</h1>
	  <p>No tienes permiso para acceder a este servicio</p>
	 </div>

{{/partial}}

{{>layout.hbs}}