{{#partial "contenido"}}


	<table class="table table-stripped">

		
		<form action="/buscar">
			<select name="tipoFiltro">
			  <option value="todos"> Mostrar Todos </option>
			  <option value="Banco">Banco</option>
			  <option value="CGP">CGP</option>
			  <option value="ParadaColectivo">ParadaColectivo</option>
			  <option value="Comercio">Comercio</option>
			</select>
			<input type="submit" value="Filtrar"><br />
			<input type="text" name="busqueda" placeholder="Ingrese poi deseado" />
			<input type="text" name="servicios" placeholder="Ingrese servicio deseado"/>
			<input type="submit" value="Buscar">
		</form>
		
	
		{{#each resultados}} 

		<tr class="lista-link">

				<td><a href="/pois/{{id}}"> {{nombre}}</a></td>
				<td><a href="/pois/{{id}}"> {{direccion.direccionCompuesta}} </a></td>

		</tr>
		
		{{/each}}
		


	</table>

{{/partial}}

{{>layout.hbs}}